@charset "UTF-8";

/*병원 리스트 css*/

*{
	font-family: sans-serif;
	font-weight: bold;
	background-color: #6BE0D2;
}

header.head{
	display:flex;
	margin-left: 1480px;
	margin-bottom: 100px;
}

h2{
	text-align: center;
	margin-bottom: 50px;
}

h2.main.title{
	width:2050px;
}

h3.hidden{
	display: none;
}

legend.hidden{
	display: none;
}


fieldset{
	border: 2px solid black;
	width: 350px;
	margin-left: 825px;
	margin-right: 700px;
	background-color: green;
}

div.notice.margin-top{
	width:1200px; 
	margin-top: 100px;
	margin-left: 520px; 
}

a{
	text-decoration: none;
	font-weight: bold;
	color:black;
}

select{
	border: 2px solid black;
}

label.hidden{
	border: 2px solid black;
}

input{
	border: 2px solid black;
}


ul{
	list-style-type: none;	
}

div.paging .-list- li{
	
	margin: 10px;

}

.paging{
	display:flex;
	width:1000px;
	margin-left: 530px;
	justify-content:center;
}

.paging .-list-{
	display: flex;
	line-height: 40px;
}
.paging .-list- li{
	line-height: 19px;
}

h4{
	width:1000px;
	margin-top: 90px;
	margin-left: 710px;
}

/*병원 자세한페이지 css*/

a{
	text-decoration: none;
}

h2.main.title{
	margin-bottom: 100px;
}

div.margin-top.first{
	width:1000px;
	margin-top: 150px;
	margin-bottom: 30px;
	margin-left: 700px;
}

table.table{
	border: 2px solid black;
}

th{
	border: 2px solid black;
}

td{
	border: 2px solid black;
}

div.margin-top.text-align-center{
	width:1000px;
	margin-left:1285px;
	margin-top: 30px;
}
td.text-align-left-ident.next-strong.text-orange{
	text-align: center;
}